.grid {

  display: f;
  flex-flow: wrap;
  margin: -0.5rem;
  overflow: hidden;
}
.grid--centered {
  align-items: center;
}
.grid--space-between {
  justify-content: space-between;
}
.cell {
  padding: 0.5rem;
  flex: 0 0 auto;
}
.cell-20 {
  padding: 0.5rem;
  flex: 20%;
  max-width: 20%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-20 {
    padding: 0.5rem;
    flex: 20%;
    max-width: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-20 {
    padding: 0.5rem;
    flex: 20% !important;
    max-width: 20% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-20 {
    padding: 0.5rem;
    flex: 20% !important;
    max-width: 20% !important;
  }
}
.cell-25 {
  padding: 0.5rem;
  flex: 25%;
  max-width: 25%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-25 {
    padding: 0.5rem;
    flex: 25%;
    max-width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-25 {
    padding: 0.5rem;
    flex: 25% !important;
    max-width: 25% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-25 {
    padding: 0.5rem;
    flex: 25% !important;
    max-width: 25% !important;
  }
}
.cell-33 {
  padding: 0.5rem;
  flex: 33.3%;
  max-width: 33.3%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-33 {
    padding: 0.5rem;
    flex: 33.3%;
    max-width: 33.3%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-33 {
    padding: 0.5rem;
    flex: 33.3% !important;
    max-width: 33.3% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-33 {
    padding: 0.5rem;
    flex: 33.3% !important;
    max-width: 33.3% !important;
  }
}
.cell-40 {
  padding: 0.5rem;
  flex: 40%;
  max-width: 40%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-40 {
    padding: 0.5rem;
    flex: 40%;
    max-width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-40 {
    padding: 0.5rem;
    flex: 40% !important;
    max-width: 40% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-40 {
    padding: 0.5rem;
    flex: 40% !important;
    max-width: 40% !important;
  }
}
.cell-50 {
  padding: 0.5rem;
  flex: 50%;
  max-width: 50%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-50 {
    padding: 0.5rem;
    flex: 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-50 {
    padding: 0.5rem;
    flex: 50% !important;
    max-width: 50% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-50 {
    padding: 0.5rem;
    flex: 50% !important;
    max-width: 50% !important;
  }
}
.cell-60 {
  padding: 0.5rem;
  flex: 60%;
  max-width: 60%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-60 {
    padding: 0.5rem;
    flex: 60%;
    max-width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-60 {
    padding: 0.5rem;
    flex: 60% !important;
    max-width: 60% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-60 {
    padding: 0.5rem;
    flex: 60% !important;
    max-width: 60% !important;
  }
}
.cell-66 {
  padding: 0.5rem;
  flex: 66.6%;
  max-width: 66.6%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-66 {
    padding: 0.5rem;
    flex: 66.6%;
    max-width: 66.6%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-66 {
    padding: 0.5rem;
    flex: 66.6% !important;
    max-width: 66.6% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-66 {
    padding: 0.5rem;
    flex: 66.6% !important;
    max-width: 66.6% !important;
  }
}
.cell-75 {
  padding: 0.5rem;
  flex: 75%;
  max-width: 75%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-75 {
    padding: 0.5rem;
    flex: 75%;
    max-width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-75 {
    padding: 0.5rem;
    flex: 75% !important;
    max-width: 75% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-75 {
    padding: 0.5rem;
    flex: 75% !important;
    max-width: 75% !important;
  }
}
.cell-80 {
  padding: 0.5rem;
  flex: 80%;
  max-width: 80%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-80 {
    padding: 0.5rem;
    flex: 80%;
    max-width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-80 {
    padding: 0.5rem;
    flex: 80% !important;
    max-width: 80% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-80 {
    padding: 0.5rem;
    flex: 80% !important;
    max-width: 80% !important;
  }
}
.cell-100 {
  padding: 0.5rem;
  flex: 100%;
  max-width: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cell-p-100 {
    padding: 0.5rem;
    flex: 100%;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .cell-t-100 {
    padding: 0.5rem;
    flex: 100% !important;
    max-width: 100% !important;
  }
}
@media (min-width: 1280px) {
  .cell-d-100 {
    padding: 0.5rem;
    flex: 100% !important;
    max-width: 100% !important;
  }
}
/*# sourceMappingURL=grid.css.map */