<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="http://localhost:5000/1.0.6/" target="_blank">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <meta name="viewport"
          content="width=device-width,
          initial-scale=1.0,
          maximum-scale=1.0,
          user-scalable=no,
          minimal-ui"
    />
    <meta name="description" content="IPMA">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Rus Inozemtsev">
    <meta name="author" content="Dasha Evstegneeva">

    <title>IPMA</title>
    <link href="/index.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="fonts/hermes-fb.css">

    <link rel="stylesheet" href="components/hero/index.css">
    <link rel="stylesheet" href="components/domino/index.css">
</head>
<body>
<div id="app">
    xxx
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="module" src="index.js"></script>
</body>
</html>